<header id="main-header">
  <div id="logo">
    <a href="/">Shahab Blog</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">All Posts</a>
      </li>
      <% if(locals.isAuth) { %>}
      <li>
        <a href="/new-post">Create Post</a>
      </li>
      <% } %>
      <% if(!locals.isAuth) { %>}
      <li>
        <a href="/sign-up">Sign Up</a>
      </li>
      <li>
        <a href="/sign-in">Sign In</a>
      </li>
      <% } %>
       <% if(locals.isAuth) { %>}
      <li>
        <a href="/admin">Admin</a>
      </li>
     
      <li>
        <form action="/logout" method="POST" id="logout-form">
          <button>Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
