<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'Not Authenticated' }) %>
    <link rel="stylesheet" href="/styles/forms.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
        <h1>You are Not Authorised</h1>
        <p>Your are Not Authorised to access this page. Please sigin or signup to gain access to this page</p>
    </main>
  </body>
</html>