<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'Admin Dashboard' }) %>
    <link rel="stylesheet" href="/styles/forms.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
        <h1>This is the admin dashboard</h1>
        <p>Your are being redirected to this only after authenticating from the signin and signup</p>
    </main>
  </body>
</html>