form {
  max-width: 25rem;
  margin: 2rem auto;
}

#sign-up-form {
  max-width: 40rem;
  border-radius: 8px;
  padding: 2rem;
  margin: 0 auto;
  background-color: #dcccfc;
}

#sign-up-form h1 {
  font-size: 3rem;
  margin: 0;
}

#sign-up-form label {
  font-size: 1.6rem;
}
#sign-up-form input {
  border-radius: 8px;
}
#sign-up-form button {
  cursor: pointer;
  font: inherit;
  font-size: 2rem;
  background-color: rgb(89, 0, 255);
  border: 1px solid rgb(89, 0, 255);
  color: white;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
}

#sign-up-form button:hover {
  background-color: rgb(71, 4, 196);
  border-color: rgb(71, 4, 196);
  color: white;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
}

input:focus,
textarea:focus {
  background-color: rgb(237, 228, 255);
}

input,
textarea {
  width: 100%;
}

.form-control {
  margin: 0.5rem 0;
}
